[submodule "web/lib/ace"]
	path = web/lib/ace
	url = git://github.com/ajaxorg/ace-builds.git
[submodule "web/lib/d3"]
	path = web/lib/d3
	url = https://github.com/mbostock/d3
[submodule "web/lib/dc.js"]
	path = web/lib/dc.js
	url = https://github.com/dc-js/dc.js
[submodule "web/lib/crossfilter"]
	path = web/lib/crossfilter
	url = https://github.com/square/crossfilter
[submodule "web/lib/moment"]
	path = web/lib/moment
	url = https://github.com/moment/moment.git
	branch = master
[submodule "web/lib/moment-timezone"]
	path = web/lib/moment-timezone
	url = https://github.com/moment/moment-timezone.git
	branch = master
